<section>
<article class="navigation">
	<nav class="nav-wrap">
	



<h1>
		<a href="{{ site.baseurl }}/"><img src="images/logo.png"></a>
			
			<a href="#circle"></a>
			<a href="#videos">VIDEOS</a>
			<a href="#contact">CONTACT</a>
			<li><a href="#about">ABOUT</a>


	
				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="vine"><a href="#"></a></li>
				</h1>
	</ul>




</nav>



</article>


	
</section>

</header>