<section>
<article class="navigation">
	<nav class="nav-wrap">
	


<ul>
<h1>
		
			<li><a href="{{ site.baseurl }}/"><img src="images/logo.png"></a></li>
				<li class="circle"><a href="#"></a></li>
			<li><a href="#">VIDEOS</a></li>
			<li><a href="#">CONTACT</a></li>
			<li><a href="#">ABOUT</a></li>


	
				<li class="facebook"><a href="#"></a></li>
				<li class="instagram"><a href="#"></a></li>
				<li class="twitter"><a href="#"></a></li>
				<li class="vine"><a href="#"></a></li>
				</h1>
	</ul>




</nav>



</article>


	
</section>

</header>