<section>
<article class="navigation">
	<nav class="nav-wrap">
	




	<div class="row">
	<div class="grid-half">
			<a class="logo" href="{{ site.baseurl }}/"><img src="images/logo.png"></a>
		<h1>
			<i class="fa fa-plus-circle"><a href="#"></a></i>
			<a href="#videos">VIDEOS</a>
			<a href="#contact">CONTACT</a>
			<a href="#about">ABOUT</a>
</div>
<div class="grid-third">
	<i class="fa fa-facebook"><a href="#"></a></i>
		<i class="fa fa-instagram"><a href="#"></a></i>
				<i class="fa fa-twitter"><a href="#"></a></i>

			<i class="fa fa-vine"><a href="#"></a></i>

		</div>
				</h1>
	
	
</div><!--end row-->


</nav>



</article>


	
</section>

</header>